@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>Your Account has been @ViewData["Title"] click here to </h1>

<ul class="list-inline">


		
		<li class="list-inline-item">
			<a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
		</li>
	</ul>